.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(15,102,171,1) 100%, rgba(2,0,36,1) 100%);
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 320px;
  border-radius: 10px;
  -webkit-box-shadow: -2px -1px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 9px 0px rgba(0,0,0,0.75);
  box-shadow: -2px -1px 9px 0px rgba(0,0,0,0.75);
  text-overflow: clip;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  height: 100px;
  width: 320px;
  background-color: #1B2845;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.display span {
  display: block;
  max-width: 320px;
  font-weight: 300;
  font-size: 2.75em;
  margin-right: 12px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
}

.keypad {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.keypadRow {
  display: flex;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(0, 0, 0);
  width: 80px;
  height: 70px;
  border: 1px solid rgba(139, 139, 139, .2);
}

.miscButton {
  background-color: #A5C4D4;
}

.miscButton:hover {
  background-color: #8aa6b4;
}

.numberButton, .zeroButton, .deleteButton, .decimalButton {
  background-color: whitesmoke;
}

.numberButton:hover, .zeroButton:hover, .deleteButton:hover, .decimalButton:hover {
  background-color: rgb(216, 216, 216);
}

.operatorButton {
  background-color: #335C81;
}

.operatorButton:hover {
  background-color: #23415c;
}

.equalsButton {
  background-color: #274060;
  border-bottom-right-radius: 10px;
}

.equalsButton:hover {
  background-color: #18283d;
}

.zeroButton {
  border-bottom-left-radius: 10px;
}
